{% extends 'foot.html' %}

{% block main %}
    <div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				<div class="login_btn fl">
					欢迎您：<em>{{ request.session.user_name }}</em>
					<span>|</span>
					<a href="/user/logout/">退出</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="/user/info/">用户中心</a>
					<span>|</span>
					<a href="/cart/">我的购物车</a>
					<span>|</span>
					<a href="/user/order/">我的订单</a>
				</div>
			</div>
		</div>
	</div>

	{% block body %}
    {% endblock body %}

{% endblock main %}



